<form action="/add" method="POST">
  <p>Título: </p>
  <input type="text" name="titulo">
  <p>Contéudo: </p>
  <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
  <button type="submit">Cadastrar postagem</button>
</form>

<a href="/"><button>Voltar para o inicio</button></a>
