<h1>Lista posts</h1>

{{#each posts}}

  <h1>Titulo: {{titulo}}</h1>
  <h2>Conteudo: {{conteudo}}</h2>
  <p>Identificação: {{id}} </p>
  <a href="/deletar/{{id}}"><button>Deletar</button></a>
  <hr>

{{/each}}